<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="import">
            <directory suffix="Test.php">./tests/TestCase/Import</directory>
        </testsuite>
        <testsuite name="work">
            <!--<directory suffix="Test.php">./tests/TestCase/Work</directory>-->
            <!--<directory suffix="Test.php">./tests/TestCase/WorkBulk</directory>-->
            <!--<directory suffix="Test.php">./tests/TestCase/WorkProducts</directory>-->
            <!--<directory suffix="Test.php">./tests/TestCase/WorkProductsRental</directory>-->
            <!--<directory suffix="Test.php">./tests/TestCase/WorkProductsHas</directory>-->
            <!--<directory suffix="Test.php">./tests/TestCase/WorkRecommendTheater</directory>-->
            <!--<directory suffix="Test.php">./tests/TestCase/Genre</directory>-->
            <!--<directory suffix="Test.php">./tests/TestCase/People</directory>-->
            <!--<directory suffix="Test.php">./tests/TestCase/WorkSeries</directory>-->
            <!--<directory suffix="Test.php">./tests/TestCase/WorkRelationWorks</directory>-->
            <!--<directory suffix="Test.php">./tests/TestCase/WorkRecommendOther</directory>-->
            <!--<directory suffix="Test.php">./tests/TestCase/WorkRecommendAuthor</directory>-->
            <!--<directory suffix="Test.php">./tests/TestCase/Ranking</directory>-->
            <!--<directory suffix="Test.php">./tests/TestCase/Release</directory>-->
            <!--<directory suffix="Test.php">./tests/TestCase/ReleaseCalender</directory>-->
            <!--<directory suffix="Test.php">./tests/TestCase/Search</directory>-->
            <directory suffix="Test.php">./tests/TestCase/MemberRentalStatus</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
</phpunit>
